<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <!-- @if (showFiller) {
    <p>Lorem, ipsum dolor sit amet consectetur.</p>
    }
    <button (click)="showFiller = !showFiller" mat-raised-button>
      Toggle extra text
    </button> -->
    <nav>
      <ul>
        <li>Home</li>
        <li>Login</li>
        <li>About Us</li>
      </ul>
    </nav>
  </mat-drawer>

  <div class="example-sidenav-content">
    <app-toolbar (drawerToggle)="drawer.toggle()" />
    <main>
      <app-dashboard />
    </main>
  </div>
</mat-drawer-container>
