<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <mat-nav-list>
      <!-- <mat-list-item mat-list-item routerLink="students">
        <mat-icon matListItemIcon>home</mat-icon>
        <div matListItemTitle>Home</div>
      </mat-list-item>
      <mat-list-item>
        <mat-icon matListItemIcon>person</mat-icon>
        <div matListItemTitle>Login</div>
      </mat-list-item>
      <mat-list-item>
        <mat-icon matListItemIcon>person_add</mat-icon>
        <div matListItemTitle>Register student</div>
      </mat-list-item>
      <mat-list-item>
        <mat-icon matListItemIcon>group</mat-icon>
        <div matListItemTitle>Students</div>
      </mat-list-item> -->

      @for (item of navItems; track item) {
      <mat-list-item
        mat-list-item
        [routerLink]="item.link"
        routerLinkActive
        #rla="routerLinkActive"
        [activated]="rla.isActive"
        (click)="item.name === 'login' && logout()"
      >
        <mat-icon matListItemIcon>{{ item.icon }}</mat-icon>
        <div matListItemTitle>{{ item.name }}</div>
      </mat-list-item>
      }
    </mat-nav-list>
  </mat-drawer>

  <div class="example-sidenav-content">
    <app-toolbar (drawerToggle)="drawer.toggle()" />
    <main>
      <router-outlet />
    </main>
  </div>
</mat-drawer-container>
