<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <!-- @if (showFiller) {
    <p>Lorem, ipsum dolor sit amet consectetur.</p>
    }
    <button (click)="showFiller = !showFiller" mat-raised-button>
      Toggle extra text
    </button> -->
    <mat-list>
      <mat-list-item>
        <mat-icon matListItemIcon>home</mat-icon>
        <div matListItemTitle>Home</div>
      </mat-list-item>
      <mat-list-item>
        <mat-icon matListItemIcon>person</mat-icon>
        <div matListItemTitle>Login</div>
      </mat-list-item>
      <mat-list-item>
        <mat-icon matListItemIcon>group</mat-icon>
        <div matListItemTitle>Students</div>
      </mat-list-item>
    </mat-list>
  </mat-drawer>

  <div class="example-sidenav-content">
    <app-toolbar (drawerToggle)="drawer.toggle()" />
    <main>
      <app-dashboard />
    </main>
  </div>
</mat-drawer-container>
