<div class="container">
  <div class="row form-teacher">
    <form [formGroup]="teacherForm" class="w-full" (ngSubmit)="onSubmit()">
      <img *ngIf="!teacher" src="user.png" alt="User logo" width="100" />
      <h2 appHighlight class="m-4">
        {{ teacher ? "Edit Teacher Form" : "Register Teacher Form" }}
      </h2>

      <div class="row">
        <mat-form-field class="w-full" appearance="outline">
          <mat-label>Name</mat-label>
          <input formControlName="name" matInput />
        </mat-form-field>
        <mat-form-field class="w-full" appearance="outline">
          <mat-label>Lastname</mat-label>
          <input formControlName="lastname" matInput />
        </mat-form-field>
        <mat-form-field class="w-full" appearance="outline">
          <mat-label>Email</mat-label>
          <input formControlName="email" matInput />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-select disableRipple formControlName="course">
            <mat-option value="Angular">Angular</mat-option>
            <mat-option value="Vue">Vue</mat-option>
            <mat-option value="React">React</mat-option>
          </mat-select>
        </mat-form-field>
        <div class="col-12">
          <button mat-flat-button type="submit">
            {{ teacher ? "Edit" : "Create" }}
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
