<div class="container">
  <div class="row form-student">
    <form [formGroup]="courseForm" class="w-full" (ngSubmit)="onSubmit()">
      <img *ngIf="!course" src="user.png" alt="User logo" width="100" />
      <h2 appHighlight class="m-4">
        {{ course ? "Edit Course Form" : "Register Course Form" }}
      </h2>

      <div class="row">
        <mat-form-field class="w-full" appearance="outline">
          <mat-label>Name</mat-label>
          <input formControlName="name" matInput />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Course</mat-label>
          <mat-select disableRipple formControlName="course">
            <mat-option value="Angular">Angular</mat-option>
            <mat-option value="Vue">Vue</mat-option>
            <mat-option value="React">React</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="w-full" appearance="outline">
          <mat-label>Teacher</mat-label>
          <input formControlName="teacher" matInput />
        </mat-form-field>
        <div class="col-12">
          <button mat-flat-button type="submit">
            {{ course ? "Edit" : "Create" }}
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
