<div class="container">
  <div class="row form-student">
    <form [formGroup]="studentForm" class="w-full" (ngSubmit)="onSubmit()">
      <img *ngIf="!student" src="user.png" alt="User logo" width="100" />
      <h2 appHighlight class="m-4">
        {{ student ? "Edit Student Form" : "Register Student Form" }}
      </h2>

      <div class="row">
        <mat-form-field class="w-full" appearance="outline">
          <mat-label>Name</mat-label>
          <input formControlName="name" matInput />
        </mat-form-field>
        <mat-form-field class="w-full" appearance="outline">
          <mat-label>Lastname</mat-label>
          <input formControlName="lastname" matInput />
        </mat-form-field>
        <mat-form-field class="w-full" appearance="outline">
          <mat-label>Email</mat-label>
          <input formControlName="email" matInput />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Course</mat-label>
          <mat-select formControlName="course">
            <mat-option
              *ngFor="let course of coursesList"
              [value]="course.name"
            >
              {{ course.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="w-full" appearance="outline">
          <mat-label>Teacher</mat-label>
          <mat-select formControlName="teacher">
            <mat-option
              *ngFor="let teacher of teachersList"
              [value]="teacher.name + ' ' + teacher.lastname"
            >
              {{ teacher.name }} {{ teacher.lastname }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <div class="col-12">
          <button mat-flat-button type="submit">
            {{ student ? "Edit" : "Create" }}
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
